
body{
    font-family: 'Arial', sans-serif;
    color: rgba(0,0,0,.87);
    min-height: 100vh;
    position: relative;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
    font-size: 15px;
}

header{
    display: flex;
    font-size: 13px;
    
    justify-content: right;
    height: 48px;
    padding: 10px
}

.atroden{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 250px
}

header .url{
    color: rgba(0,0,0,.87);
}

.apps{
    border-radius: 50%;
}
.apps svg{
    height: 30px;
    border-radius:50%;
}

.apps:hover{
    height: 30px;
    background-color: #d6d7d8;
}

.apps path{
    height: 50px;
    fill:#989a9d
}

.messi img{
    height: 40px;
    width: auto;
    margin-right: 10px;
    border-radius:50%;
    border: 4px solid transparent;
}

.messi img:hover{
    border: 4px solid #e7eaeb;
}

header .url:hover{
    text-decoration: underline;
}

.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 50px 50px;
}
.banner img{
    width:27%;
    height:auto;
}
.input{
    display: flex;
    justify-content: center;
    border: solid 1px #dfe1e5;
    border-radius: 80px;
    width:650px;
    margin: auto;
}

.input input{
    height: 40px;
    width: 500px;
    outline: none;
    border: none;
}

.input:hover{
    box-shadow: 1px 1px 2px rgba(170, 166, 166, 0.5);

}
.input img{
    width: 40px;
    height: 38px;
    border-radius:80px
}
.input .lupa{
    margin-left: -20px;
}

.input .camic{
    margin-right: -20px;
}

input:focus{
    font-size: 16px;
}

.botones {
    padding: 24px
}
.botones >* {
    padding: 13px;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    border-radius: 4px;
}
.botones > *:hover{
    cursor: pointer;
    border: 1px solid #d4d6d7;
}

.offer a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}
a:link {
    color: rgba(0,0,0,.87);
}
a:visited {
    color: rgba(0,0,0,.87);
}

a:hover {
    color: rgba(0,0,0,.87);
    text-decoration: underline;
}

a:active{
    color: rgba(0,0,0,.87);
}



.cuerpo{
    text-align: center;
}

footer{
    background-color: #f2f2f2;
    bottom: 0;
    position: absolute;
    width: 100%;
}
footer p, a{
    color:#989a9d;
}


footer .arriba .region{ 
    padding: 6px 46px;
}

footer .abajo{
    border-top: 1px solid #989a9d;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
}

.aizq{
    width: 500px;
    display: flex;
    justify-content: space-between;
}



footer .abajo > *{
    padding: 15px;
}

.abajo a{
    color: #989a9d;
    
}

footer .abajo .aizq{
    text-align: left;
    justify-content: space-between;
    
}

.ader{
    width: 300px;
    display: flex;
    justify-content: space-between;
}



